<section class="basket__popup">

<img class="basket__close__style basket__close" src="https://image.flaticon.com/icons/png/512/1828/1828778.png " />

<h1>Shopping Basket</h1>

<div class = "basket__item">
    <div >
        <h4>
            Elate Beauty Palate
        </h4>
    
        <p>Palet with lipstick and highlighter</p>
        <p>Color : nude</p>
        <p>Size: one size </p>
        <p>Price: €19,99 </p>
    </div>

    <div>
        <img src="https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1365&q=80"/>
    </div>

    <div>
        <form>
            <label for="quantity">Amount</label>
            <input type="number" id="quantity" name="quantity" min="1" max="5"> 
        </form>

    </div>
    


</div>

<div class = "basket__item">
    <div >
        <h4>
            Elate Beauty Palate
        </h4>
    
        <p>Palet with lipstick and highlighter</p>
        <p>Color : nude</p>
        <p>Size: one size </p>
        <p>Price: €19,99 </p>
    </div>

    <div>
        <img src="https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1365&q=80"/>
    </div>

    <div>
        <form>
            <label for="quantity">Amount</label>
            <input type="number" id="quantity" name="quantity" min="1" max="5"> 
        </form>

    </div>
</div>


<div>
<div class = "basket__total">

    <div class="basket__total--details">
        <p>Elate Beauty Palet</p>
        <p>€19,99</p>
    </div>
    <div class="basket__total--details">
        <p>Elate Beauty Palet</p>
        <p>€19,99</p>
    </div>

    <div class="basket__total--details">
        <h4>Subtotal</h4>
        <h4>€40,00</h4>
    </div>

    <div class="basket__button">
    {# make basket close working via js #}
        <button class="basket__continue yellow">Continue Shopping</button>
        <a href="/payement/index.html"><button class="purple">Go to payment</button></a>


    </div>
</div>
</div>

</section>