
        <nav>

            <div class = "nav__logo">
            </div>


            <ul class = "nav__list">
            

                 {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}



            </ul>
        </nav>
    