---
layout: base
---

<div class=" container contact-us">
    <h1>Contact us</h1>

    
    <div class="stores">
        
        <div class="stores__list">
            <h3>Visit one of our stores</h3>
            <form>
                <input type="submit" placeholder="" value=" " class="stores__list__form--icon">
                <input type="text" placeholder="Search" class="stores__list__form--text">
            </form>
            <div class="opening-hours">
                <p>
                Open now
                </p>
                <p>
                After 19h
                </p>
                <p>
                After 20h
                </p>
            </div>
            <div class="container__stores__card">
                <div class="stores__card">
                    <h4>Planet B</h4>
                    <h5>Ghent Centrum</h5>
                    <p class="address">Adres 15 - 9000 Ghent</p>
                    <p class="open">is open now - closed 20h</p>
                </div>
                <div class="stores__card">
                    <h4>Planet B</h4>
                    <h5>Ghent Centrum</h5>
                    <p class="address">Adres 15 - 9000 Ghent</p>
                    <p class="open">is open now - closed 20h</p>
                </div>
                <div class="stores__card">
                    <h4>Planet B</h4>
                    <h5>Ghent Centrum</h5>
                    <p class="address">Adres 15 - 9000 Ghent</p>
                    <p class="open">is open now - closed 20h</p>
                </div>
                <div class="stores__card">
                    <h4>Planet B</h4>
                    <h5>Ghent Centrum</h5>
                    <p class="address">Adres 15 - 9000 Ghent</p>
                    <p class="open">is open now - closed 20h</p>
                </div>
                <div class="stores__card">
                    <h4>Planet B</h4>
                    <h5>Ghent Centrum</h5>
                    <p class="address">Adres 15 - 9000 Ghent</p>
                    <p class="open">is open now - closed 20h</p>
                </div>
            </div>
        </div>

        <button class="mapbtn">Show map with stores</button>
        <div class="stores__map">
        <h3>map</h3>
        <img src="/assets/img/map.png" alt="map of the stores">
        </div>
    </div>

    <div class="intouch">
        <div class="message">
            <h3>Send us a message</h3>
            <h5>Subject</h5>
            <form>
                <input type="text" placeholder="The received product is faulty" class="message__form--text">
                <input type="submit" placeholder="" value=" " class="message__form--icon">
            </form> 
            <h5>Email</h5>
            <form>
                <input type="text" placeholder="youremail@adres.com" class="email">
            </form> 
            <h5>Attachment</h5>
            <form>
                <input type="text" placeholder="" class="empty">
            </form> 
        </div>
        <div class="form">
            <h3>Leave a message</h3>
            <h5>Message</h5>
            <form>
                <textarea placeholder="Your message*" id= "message"></textarea>
                <input id= "submit" type="submit" value="Send message">
            </form>
        </div>
        <div class="faq">
            <h3>Get In Touch</h3>
            <h5>FAQ</h5>
            <div class="faq__text">
                <p>
                The answer to your question may be here: <strong>FAQ</strong>
                </p>
                <p>
                Otherwise, our customer service is available to answer your questions by e-mail from Monday to Friday, or by telephone from 8.30 a.m. to 5.30 p.m. (except public holidays).
                </p>
            </div>
        </div>
    </div>

</div>