.contact-us {
    margin-bottom: 5rem;
    font-family: 'Poppins', sans-serif;
    color: $greenish;

    h1{
        text-align: center;
        color: $greenish;
        font-family: 'Amatic SC', cursive;
    }

    .stores{
        display: flex;
        justify-content: space-around;

        h3 {
            color: $beige;
            font-family: 'Amatic SC', cursive;
        }
    
        &__list{
            align-items: center;

           
          
            form{
              border: 1px solid rgba(0, 0, 0, 0.322);
              display: flex;
              align-items: baseline;
              padding: 0.2rem;
            }
    
            &__form--text{
                height: 2rem;
                border: none;
                font-size: 1rem;
            }
            &__form--icon{
                height: 2rem;
                width: 2.5rem;
                background-image: url("https://image.flaticon.com/icons/png/512/622/622669.png");
                background-size: 2rem;
                background-repeat: no-repeat;
                border: none;
                background-position: center;
                background-color: white;
            }

            .opening-hours {
                display: flex;
                width: 100%;

                    p {
                        border: 1px solid black;
                        padding: 0.2rem 0.5rem;
                    }
            }
        }

        &__map{
            h3 {
                color: white;
                font-family: 'Amatic SC', cursive;
            }
        }
    }

    .intouch{

        display: flex;
        justify-content: space-around;

        .message{
            width: 20rem;

            h3 {
                font-family: 'Amatic SC', cursive;
                color: $beige
            }

            h5{
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 0.5rem;
            }

            form {
                border: 1px solid rgba(0, 0, 0, 0.322);
                display: flex;
                align-items: baseline;
                padding: 0.2rem;
                width: 100%;
            }

            &__form--text {
                border: none;
                width: 100%;
            }

            &__form--icon {
                height: 2rem;
                width: 2.5rem;
                background-image: url("https://image.flaticon.com/icons/png/512/142/142051.png");
                background-size: 1rem;
                background-repeat: no-repeat;
                border: none;
                background-position: center;
                background-color: white;
            }
            p {
                border: 1px solid black;
                padding: 0.3rem 0.5rem;
                margin-bottom: 2rem;
            }
            .email {
                opacity: 50%;
                border: none;
                width: 100%;
                height: 2rem;
            }
            .empty {
                border: none;
                width: 100%;
                height: 2rem;
            }
        }

        .form {
            width: 16rem;

            h3 {
                color: white;
            }

            h5{
                text-transform: uppercase;
                font-weight: 500;
            }

            #message {
                width: 97%;
                height: 13rem;
            }

            #submit{
                color: $greenish;
                background-color: $CTA1;
                border: 1px solid black;
                padding: 0.5rem 1rem;
                width: 100%;
            }
        
        }

        .faq {
            width: 20rem;

            h3 {
                font-family: 'Amatic SC', cursive;
                color: $beige
            }

            h5{
                color: white;
            }

            &__text {
                box-sizing:border-box;
                background-color: $CTA2;
                color: white;
                padding: 1rem;
            }
        }
    }
}



