.cookies {
    font-family: 'Poppins', sans-serif;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10rem;

    h1 {
        font-family: 'Amatic SC', cursive;
        color: $greenish;
        text-align: center;
    }

    h3 {
        font-weight: 500;
        margin-top: 5rem;
    }
}