.filter__container{
    display: flex;
    padding-top: 3rem;

}
.container__detail {
    width: 100%;
    display: flex;
    margin-left: 1rem;
    position: relative;
    color: #6C7B64;

    .detail--photos {
        display: flex;
        height: 30rem;
        width: 50%;
        overflow-y: auto;
        flex-direction: column;
        margin-right: 1rem;
        margin-left: 1rem;

        .small-photo {
            width: 15rem;
            object-fit: cover;
            margin-bottom: 1rem;
        }
    }

    .detail__product{
        margin-left: 2rem;
        width: 80%;

        .ingredients {
            font-family: "Poppins", sans-serif;
            margin-left: 1rem;
            h3 {
                text-decoration: underline;
                font-size: 1rem;
            }
            p {
                font-size: 0.8rem;
            }
        }
    }

    h1 {
        margin:0;
        padding: 0;
    }
    .big-photo{
        max-width: 100%;
        object-fit: cover;
        z-index: 0;
    }

    .description {
        margin-left: 3rem;
        margin-top: 10rem;
        width: 20%;
        h2{
            color: #09B1BA;
            font-family: 'Amatic SC', cursive;
            font-size: 3.5rem;
            margin: 0;
        }

        h3 {
            font-family: "Poppins", sans-serif;
            text-decoration: underline;
            font-size: 1rem;
            margin:0;
        }

        p {
            font-family: "Poppins", sans-serif;
            font-size: 0.8rem;
        }

        .CTA {
            display: flex;
            cursor: pointer;

            .detail__button {
                padding-left: 3rem;
                margin: 0;
                background-image: url("https://image.flaticon.com/icons/png/512/2636/2636890.png");
                background-repeat: no-repeat;
                background-size: 1.5rem;
                background-position: 10%;
                text-align: center;
                align-items: center;
                font-size: 1rem;
                text-transform: uppercase;
                margin-right: 1rem;
                font-weight: 600;
            }

            .heart {
                border: 1px solid black;
                width: 1.3rem;
                padding: 0.7rem;
            }

            .heart:hover {
                fill: red;
            }
        }
    }

    .container__delivery {
        margin-top: 1.5rem;
        .delivery {
            display: flex;
    
            svg {
                width: 1rem;
                height: 1rem;
                border: 2px solid black;
                border-radius: 50%;
                padding: 0.2rem;
            }
    
            p {
                text-transform: uppercase;
                font-size: 0.6rem;
                margin-left: 1rem;
            }
        }
    }
}

.container__review {
    margin-top: 5rem;
        
    h2 {
        color: #6C7B64;
        text-align: center;
        font-size: 3rem;
    }

    .rating-icon {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        .experience{
            background-color: #AA9DB1;
            text-transform: uppercase;
            padding: 1rem;
        }
    }

    .reviews {
        display: flex;
        justify-content: space-between;
        font-family: "Poppins", sans-serif;
        margin-bottom: 2rem;

        .reviews--text {
            h4 {
                margin: 0;
            }
            h5 {
                margin: 0;
            }
            p {
                margin: 0;
            }
        }
    }
}

