.homepage{

    display: flex;
    padding: 7rem 0;
    font-family: "Poppins", sans-serif;
    .homepage__container{
        display: flex;
        flex-direction: column;
        width: 80%;
        
        .searchlist__item{
            font-family: "Poppins",sans-serif;
            display: flex;
            max-width: 100%;
            flex-wrap: nowrap;
            overflow-x: auto;
            align-items: flex-start;
            width: 90%;
            list-style-type: none;
            margin-top: 0;
            margin-left: 1rem;

            li {
                margin-right: 2rem;

                a {
                    text-decoration: none;
                    display: flex;
                    align-items: baseline;
                    flex-direction: column;
                    flex-shrink: 0;

                    .product__main{
                        display: flex;
                        justify-content: space-between;
                        color:$greenish;

                        &__name{
                        font-weight: 500;
                        text-transform: uppercase;
                        }
                    }
                }

                img {
                    width: 15rem;
                    height: 15rem;
                    object-fit: cover;
                }
            }
            
        }
    }
    .intro__products{
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        .sale__quote{
            text-transform: uppercase;
            font-weight: 500;
            color: $greenish;
        }
        .discover__products{
            background-image:url("../assets/img/right-arrow.svg");
            background-repeat: no-repeat;
            background-position: right;
            padding-right: 2rem;
            text-transform: uppercase;
        }

    }
        
        
        .row__products{
            font-family: "Poppins", sans-serif;
            display: flex;
            max-width: 100%;
            flex-wrap: nowrap;
            overflow-x: auto;
            align-items: flex-start;
            width:90%;
            list-style-type: none;
            margin-top: 0;
            margin-left: 1rem;
            li{
                margin-right: 2rem;


                .product__main{
                    display: flex;
                    justify-content: space-between;
                    color:$greenish;
                    &__name{
                    font-weight: 500;
                    text-transform: uppercase;

                    }
                }
               
               
          
        
                a{
                    text-decoration: none;
                    display: flex;
                    align-items: baseline;
                    flex-direction: column;
                    flex-shrink: 0;
                }
            }
            
            img{
                width: 15rem;
                height: 15rem;
                object-fit: cover;
                
            }
        
            .product__information{
                display: flex;
        
            }
        }

    }


    .slidecontainer {
        width: 100%; /* Width of the outside container */
      }
      
      /* The slider itself */
      .slider {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 25px; /* Specified height */
        background: #d3d3d3; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
      }
      
      /* Mouse-over effects */
      .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
      }
      
      /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #04AA6D; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }
      
      .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #04AA6D; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }
    