.product__page{

    display: flex;
    padding: 7rem 0;
    font-family: "Poppins", sans-serif;

        .form__product{
            border: 1px solid black;
            width: 30%;
            height: fit-content;
            padding: 2rem 1rem;

            form{
                margin-bottom: 5rem;

                option{
                    display: flex;
                    flex-direction: column;
                }
            }
        
        }
        
        
        .row__products{
           
            font-family: "Poppins", sans-serif;
            display: flex;
            max-width: 100%;
            flex-wrap: nowrap;
            overflow-x: auto;
            align-items: flex-start;
            width:90%;
            list-style-type: none;
            margin-top: 0;
            li{
                margin-right: 2rem;
               
          
        
                a{
                    text-decoration: none;
                    display: flex;
                    align-items: baseline;
                    flex-direction: column;
                    flex-shrink: 0;
                    width: 100%;
                }
            }
            
            img{
                width: 15rem;
                height: 15rem;
                object-fit: cover;
                
            }
        
            .product__information{
                display: flex;
        
            }
        }

    }
    