.CTA__button{
    background-color: #f3c13b;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    padding: 0.4rem 1.5rem;
    cursor: pointer;
}

.to-top{
    color: black;
    background-image: url("/assets/img/arrow-up.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    position: fixed;
    font-size: 2rem;
    text-decoration: underline;
    bottom:100px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color:transparent;
    border: none;
  
}

.to-top:focus{
    outline:none;
    
}



