.form__product{
    border: 1px solid black;
    width: 25%;
    height: fit-content;
    padding: 1rem;
    font-family: "Poppins";
    z-index: 1;

    form{
        margin-bottom: 2rem;
        p{
            margin-bottom: 1rem;
            margin-top: 0;
        }
        .filter__submit{
            background: $purplish;
            padding: 0.5rem;
            width: 100%;
            border: 1px solid black;
            margin-top: 2rem;
            cursor: pointer;
        }
        option{
            display: flex;
            flex-direction: column;
        }
    }

}

.filter__submit:hover{
    transition: all ease 0.3s;
    background: black;
    color: white;
}