---
layout: base
---

<div class="inlogpage">

<h1>
    Log In!
</h1>


<form class="container__signin ">

    <div class="container__signin__form">
        <label for="email">Your Email:</label>
        <input type="email" id="email" placeholder="example@address.com" name="email">
    </div>

    <div class ="container__signin__form password">
        <label for="pass">Password (8 characters minimum):</label>
        <input type="password" id="pass" name="password"  placeholder="examplepassword" minlength="8" required>
    </div>

    <input type="submit" class ="CTA__button2" value="Let's go!">
    
</form>


<h1>Not an account yet? let's make one</h1>

<button class='CTA__button3'>Make account</button>

<h1>Or</h1>
<button class='CTA__button3'>Login with facebook</button>
<button class='CTA__button3'>Login with Google</button>

</div>
