---
layout: base
eleventyNavigation: 
    key: Personal Care
---


<div class="hero__feature">
    <img src="/assets/img/hikeyou1.jpeg"/>
    <img src="/assets/img/hikeyou2.jpeg"/>
    <img src="/assets/img/hikeyou3.jpeg"/>
</div>


<div class="container"> 
    <h1 class="title__feature">It all starts with a little inspiration</h1>

        <p>
            Hike You has everything you need to discover more of the world. From carefully selected guides to the world's most epic outdoor experiences, to ready-made routes near you - Hike You helps you find your perfect adventure. Whether you start in a remote mountain range, or in your own backyard.
        </p>

</div>


<div class="container container__feature background__red" id="walks">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 409.6 409.6"><path d="M392.533 187.733H17.067C7.641 187.733 0 195.374 0 204.8s7.641 17.067 17.067 17.067h375.467c9.426 0 17.067-7.641 17.067-17.067s-7.642-17.067-17.068-17.067z"/></svg>
    <h2>Save your favorite walks!</h2>
        <p>
            Take photos of the best moments of your adventure and let the world know that your place is a must-see. Each time you save a highlight, it will appear on the Tour Planner as a place worth checking out.
        </p>

    <div class ="container__feature__images">
        <img src = "/assets/img/savewalks1.jpg"/>
        <img src = "/assets/img/savewalks2.jpg"/>
        <img src = "/assets/img/savewalks3.jpg"/>
        
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 409.6 409.6"><path d="M392.533 187.733H17.067C7.641 187.733 0 195.374 0 204.8s7.641 17.067 17.067 17.067h375.467c9.426 0 17.067-7.641 17.067-17.067s-7.642-17.067-17.068-17.067z"/></svg>

</div>

