---
layout: base
---

<div class="cookies">
    <h1>Cookie Policy</h1>

    <h3>COOKIES</h3>
    <p>
    Plan(et) B makes use of cookies and other techniques such as JavaScript and web beacons on its e-shop and related sites (hereinafter the 'web shop'). Because we want to guarantee your privacy and improve the user-friendliness of your visit(s) to our web shop, we find it important that you know how and why we use cookies. Below we try to give you as much information as possible about the use of these techniques, including cookies by Plan(et) B. 
    WHO IS RESPONSIBLE FOR THE PROCESSING OF YOUR DATA?
    Plan(et) B, located at Onze-Lieve-Vrouwestraat 120, 2800 Mechelen (Belgium), is the data controller for the processing of data as described in this cookie policy.
    </p>

    <h3>WHAT ARE COOKIES?</h3>
    <p>
    Cookies are small, simple text files that your computer or mobile device stores when you use our webstore.
    </p>

    <h3>WHAT ARE THE OTHER TECHNIQUES?</h3>
    <p>
    JavaScript and web beacons are standard Internet technologies that, together with cookies, allow a system to collect information (JavaScript), store it in small, simple text files (cookies) and then send it (web beacons).
    </p>
    <p>
    Cookies and other techniques are used in almost all existing web shops.
    </p>

    <h3>WHAT DO WE USE COOKIES FOR?</h3>
    <p>
    By using cookies and other techniques, we ensure, for example, that:
    <br>
    - Navigation through Lily's web shop becomes more fun and easier for you
    <br>
    - You do not always receive or have to enter the same information when visiting our web shop
    <br>
    - We can offer you special features such as recently viewed items or alternative items based on your interests
    <br>
    - Measure how our online shop is being used and identify areas for improvement
    <br>
    - Show you advertisements and recommendations based on your interests
    <br>
    - Recognise the device you use when you visit us
    <br>
    - We can register how often an advertisement is shown, in order to tailor the advertisements to your needs and interests and to prevent you from seeing the same advertisement again and again.
    <br>
    WHAT COOKIES DO WE USE?
    <br>
    FUNCTIONAL COOKIES OR NECESSARY COOKIES
    <br>
    Functional cookies make sure our online shop works properly. Basic functions like page navigation, access to the shopping cart or your account and checkout. Without these cookies, the website cannot work properly.
    <br>
    <br>
    Think about this:
    <br>
    - Remembering and saving the products you view and click on
    <br>
    - Giving a notification when an order is not completed, so that you do not lose your products in the shopping cart
    <br>
    - Your browser settings will be stored, so that you can view our web shop optimally on your device and screen
    <br>
    - The possibility to save your login details so you do not have to enter them every time
    <br>
    - An even load of the website, so it remains functional and accessible
    <br>
    - Detecting possible abuse or possible problems in our webshop, for example by registering successive failed login attempts.
    <br>
    ANALYTICAL COOKIES
    <br>
    We use analytical cookies with the help of third parties to investigate the use of the shop. These statistics give us, among other things, insight into how often we are visited and where we can improve our web shop. In this way, we ensure that the experience with our web shop is constantly optimised. The following data, among others, are stored:
    <br>
    - Your preferred language or region of residence
    <br>
    - The IP address, which is made anonymous
    <br>
    - Technical characteristics such as the browser you are using (like Chrome, Internet Explorer or Firefox) and the resolution of your computer screen and which device you are using
    <br>
    - From which page you arrived at the web shop
    <br>
    - When and how long you visit or use the webshop
    <br>
    - Whether you make use of functionalities of the web shop. For example, the contents of your shopping cart, placing an order or viewing previous purchases
    - Which pages you visit in our web shop
    <br>
    We use these cookies for example to:
    <br>
    - Keeping track of the number of visitors to our web shop
    <br>
    - Measuring the length of time per visit
    <br>
    - Determine the order in which a visitor visits the various pages of our web shop.
    </p>

    <h3>SOCIAL MEDIA COOKIES FROM THIRD PARTIES</h3>
    <p>
    Social media cookies are cookies that enable functionalities of social media websites. For example, a YouTube video for a product, selection of a pick-up point in Google Maps or a 'like' button for Facebook and social media buttons for Instagram, Twitter and Pinterest, among others.
    </p>

    <h3>ADVERTISING COOKIES</h3>
    <p>
    We place advertising cookies on third party websites. We do this so that we can make you offers that are as relevant as possible, based on your online surfing, searching and purchasing behaviour. We also use these cookies to track which ads you have seen.
    </p>
    <p>
    We have so many articles in our shop that we like to help you on your way. For example, by pointing you to items that may be of interest to you. This is done for example based on your previous visits to our web shop, regardless of the device used. We look at cookies and your IP address, but also at what you have bought from us before and your interests which we know by asking you. We will no longer show the trousers you have just bought as a buying recommendation.
    </p>

    <h3>SHOPPING RECOMMENDATIONS, PREFERENCES AND INTEREST COOKIES</h3>
    <p>
    Cookies are small, simple text files that your computer or mobile device stores when you use our webstore.
    </p>

    <h3>FINAL REMARKS</h3>
    <p>
    We will adapt our statements if our webshop or the rules surrounding cookies change. You can always consult the current version of this cookie policy via Plan(et) B.
    </p>
</div>