---
layout: base
title: Home
eleventyNavigation:
    key: Home
    order: 1
---


<div class= "homepage container">
{% include "_components/filter.njk" %}

<div class = "homepage__container">
    <ul class="searchlist__item">
    </ul>

    <div class="intro__products ">
        <p class="sale__quote">Customer Favorites</p>
        <p class="discover__products">Discover more</p>
    </div>
    <ul class="row__products">

    </ul>

    <div class="intro__products">
        <p class="sale__quote">This weeks sale</p>
        <p class="discover__products">Discover more</p>
    </div>
    <ul class="row__products">

    </ul>

</div>

</div>
