// Colors
$primary: #020000;
$gray: #CBCBCB;
$beige: #D3A172;
$blueish: #2f4858;
$purplish: #aa9db1;
$whitish: #d8d5d5;
$greenish: #6C7B64; 
$font-color:black;
$font-color2: #477c72;
$CTA1: #F3C13B;
$CTA2: #AA9DB1;

// Font-size
$text-sm: .85rem;
$text-base: 1rem;
$text-md: 1.25rem;
$text-lg: 2rem;

// Widths
$large-container: 1240px;

// Radius
$radius-sm: 0.25rem;

// Spacing
$spacing-sm: 0.5rem;
$spacing-base: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2.5rem;

