---
layout: base
eleventyNavigation: 
    key: Housekeeping   
---


<p>
Welcome to the Hike You blog page. Here you will find several articles that can help you choose a hike. Also tips and tricks are offered here. 

All our authors are experienced hikers and can give you the best information regarding your hiking experience!
</p>

<a href = "https://www.wandelverhaal.be/leukste-wandelblogs/">Click here to see the source!</a>
